DB_HOST=localhost
DB_PORT=5432
DB_NAME=test_scp
DB_USER=postgres
DB_PASSWORD=your_password_here

# disable | require | verify-full  (verify-full cần DB_SSL_CA)
DB_SSL=disable
DB_SSL_CA=

# calendar | rolling
FC_BLOCK_MODE=calendar
FC_WEIGHT_B1=0.6
FC_WEIGHT_B2=0.3
FC_WEIGHT_B3=0.1
FC_PER_DAY_DIVISOR=30
TT_MONTHS=1
TT_CLOSEOUT_PREV_MONTH=true
ACTOR=forecast-app
CRON_SCHEDULE=0 2 * * *
TZ_NAME=Asia/Ho_Chi_Minh
FC_DAY_OF_MONTH=1
FC_RECOMPUTE_DAILY=false
